<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <% if @user.errors.any? %>
        <h2><%= @user.errors.count %>error prohibited this obj from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @user do |f| %>
       <label for="inputName">Name</label></br>
       <%= f.text_field :name, autofocus: true, id:"inputName", class: "form-control mb-3"%>
       <label for="inputImage">Image</label></br>
       <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" ,class:"mb-3"%></br>
       <label for="inputIntroduction">Introduction</label>
       <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", class: "form-control mb-3"%>
       <%= f.submit "Update User", class: "btn btn-secondary mb-3" %>
      <% end %>
    </div>
  </div>
</div>